<!DOCTYPE html>
<html ng-app="rm">
    <head>
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="stylesheet" type="text/css" href="css/navigation.css" />

        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-route/angular-route.js"></script>
        <script src="node_modules/angular-animate/angular-animate.min.js"></script>

        <script src="app/navigation/navigation.module.js"></script>
        <script src="app/navigation/navigation.controller.js"></script>
        
        <script src="app/resume/resume.module.js"></script>
        <script src="app/resume/resume.component.js"></script>

        <script src="app/portfolio/portfolio.module.js"></script>
        <script src="app/portfolio/portfolio.component.js"></script>

        <script src="app/contact/contact.module.js"></script>
        <script src="app/contact/contact.component.js"></script>

        <script src="app/about/about.module.js"></script>
        <script src="app/about/about.component.js"></script>

        <script src="app/app.module.js"></script>
        <script src="app/app.config.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <a href="/"><img src="img/me-text.png" /></a>
            </div>
            <div class="navigation">
                <ul class="navigation-items" ng-controller="navController">
                    <li ng-repeat="button in elements" class="nav-item" ng-class="{ active: isSelected(button.name)}">
                        <a ng-href="{{ button.href }}">
                            <img ng-src="{{ button.src }}" class="nav-image"/>
                        </a>
                    </li>
                </ul>
                <ul class="sub-nav" ng-if="isSub == true">
                    <li class="sub-nav-item" ng-repeat="sub in subNav" ng-class="{active: isSelected(button.name)}"a>
                        <a ng-href="{{ sub.href }}"><img ng-src="{{ sub.src }}" /></a>
                </ul>
            </div>
            <div class="view-container" >
                <div ng-view class="view-frame"></div>
            </div>
        </div>
    </body>
</html>