<!DOCTYPE html>
<html ng-app="rm">
    <head>
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="stylesheet" type="text/css" href="css/navigation.css" />

        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-route/angular-route.js"></script>
        <script src="node_modules/angular-animate/angular-animate.min.js"></script>
        
        <script src="app/work/resume/resume.module.js"></script>
        <script src="app/work/resume/resume.component.js"></script>

        <script src="app/work/portfolio/portfolio.module.js"></script>
        <script src="app/work/portfolio/portfolio.component.js"></script>

        <script src="app/contact/contact.module.js"></script>
        <script src="app/contact/contact.component.js"></script>

        <script src="app/about/about.module.js"></script>
        <script src="app/about/about.component.js"></script>

        <script src="app/work/work.module.js"></script>
        <script src="app/work/work.component.js"></script>  

        <script src="app/app.module.js"></script>
        <script src="app/app.config.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <a href="/"><img src="img/me-text.png" /></a>
            </div>
            <nav class="navigation" ng-class="{hide: hidden, show: !hidden}" ng-mouseenter="hidden=false" ng-mouseleave="hidden=true">
                <ul class="navigation-items">
                    <li class="navigation-item" >
                        <a href="#!/work/resume">
                            <img src="img/work-text.png" class="nav-image" ng-mouseenter="work=true" ng-mouseleave="work=false" />
                        </a>
                    </li>
                    <li class="navigation-item">
                        <a href="#!/about"><img src="img/about-text.png" class="nav-image" /></a>
                    </li>
                    <li class="navigation-item">
                        <a href="#!contanct"><img src="img/contact-text.png" class="nav-image" /></a>
                    </li>
                </ul>
                <ul ng-if="$ctrl.subNav">
                    <li ng-repeat="item in $ctrl.subNav" class="navigation-item">
                        <a ng-href="{{item.link}}">
                            <img ng-src="{{item.src}}" />
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="view-container" >
                <div ng-view class="view-frame"></div>
            </div>
        </div>
    </body>
</html>