<link rel="stylesheet" type="text/css" href="css/portfolio.css" />
<div class="portfolio">
    <ul class="lately container">
        <h1 class="container-heading"><a href="https://github.com/freemasen">Latest Commits</a></h1>
        <li id="vis-container" class="list-item">
            <span class="heading">breakdown by repository</span>
            <div id="vis"></div>
        </li>
        <li class="event list-item" ng-repeat="event in $ctrl.events">
                <a class="heading" ng-href="{{event.repo.url}}" class="link" target="_blank">
                {{event.repo.name}}  
                </a>
            <small class="time supp">{{event.time}}</small>
            <h3 class="sub-heading">Commits</h3>
            <ul class="commits">
                <li class="commit description" ng-repeat="msg in event.message">
                    {{msg}}
                </li>
            </ul>
        </li>
    </ul>
    <ul class="repos container">
        <h1 class="container-heading"><a href="https://github.com/freemasen" target="_blank">My Repos</a></h1>
        <li class="repo list-item" ng-repeat="repo in $ctrl.repos">
                <a class="heading" ng-href="{{repo.url}}" class="link" target="_blank">
                    {{repo.name}}
                </a>
                <a class="star">✪ {{repo.stars}}</a>
            <span class="lang supp">Language: {{repo.language}}</span>
            <h3 class="sub-heading">Description</h3>
            <p class="description">{{repo.description}}</p>
        </li>
    </ul>
</div>
