.section {
    margin: 10px 5px;
}

.title {
    font-weight: bold;
    font-size: 18pt;
    margin: 5px 0;
    border-bottom: solid 3px whitesmoke;
}

.highlight-heading {
    font-weight: 500;
    font-size: 14pt;
    margin: 5px 0;
}

.highlight-content {
    border-bottom: 2px solid ghostwhite;
}