.form-container {
    width: 90%;
    margin-left: 10%;

}

.form-item {
    border: 1px whitesmoke solid;
    border-radius: inherit;
    height: 50px;
    width: 80%;
    font-size: 18pt;
    margin: 5px;
}

.ng-invalid.ng-touched {
    animation: 1s fade-in-error;
    background-color: #ef4036;
}

.ng-valid.ng-touched {
    animation: 1s fade-in-success;
    background: #0ea2cb;
}


textarea.form-item {
    height: 200px;
}

button.form-item {
    width: 40%;
    font-weight: bold;
    color: white;
}

.form-item.reset {
    background: #ef4036;
}

.form-item.send {
    background: #00aded;
}

.feedback-container {
    margin: auto;
    width: 50%;
    border-radius: 5px;
    border-color: whitesmoke;
    border-width: 2px;
    background-color: whitesmoke;
    text-align: center;
}

.feedback {
    font-size: 18pt;
}

.feedback-container.ng-enter {
    animation: 1s fade-in;

}

.feedback-container.ng-leave {
    animation: 1s fade-out;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fade-in-error {
    from { background-color: #fff; }
    to { background-color: #ef4036; }
}

@keyframes fade-in-success {
    from { background-color: #fff }
    to { background-color: #0ea2cb}
}



@keyframes fade-color-out {

}