p {
    margin: 0;
    padding: 0;
    border: 0;
}

body *{
    list-style: none;
    font-family: archer;
    font-weight: 100;
}

ul {
    -webkit-padding-start: 0;
    -webkit-margin-before: -;
}

@font-face {
    font-family: "Archer";
    src: url('../fonts/Archer-Book-Pro.otf')
}

.view-container {
    position: relative;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
}

.view-frame.ng-enter {
    animation: 0.2s in;
}

.view-frame.ng-leave {
    animation: 0.2s out;
}

@keyframes in {
    from { opacity: 0;}
    to { opacity: 1;}
}

@keyframes out {
    from { opacity: 1;}
    to { opacity: 0; }
}

.header {
    width: 100%;
    margin: auto;
}

.header > a > img {
    width: 100%;
    margin: 0;

}

.container {
    width: 90%;
    border-color: whitesmoke;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    margin: 5px auto;
}
