.navigation {
    position: relative;
}

.navigation-items {
        border-color: whitesmoke transparent;
        border-width: 3px 0;
        border-style: solid none;
        display: flex;
        margin: 0;
        zoom:1;
}

.holder {
    width: 90%;
    margin: auto
}

.nav-item {
        margin: auto;
        padding: 0;
        border: 0;
        background-color: transparent;
        display: block;


}

@media (max-width: 800px) {
    .
}

.nav-item:hover {
    background-color: whitesmoke;
}

.nav-image {
    display: block;
    max-height: 50px;
    width: auto;
    height: auto;
}

.active {
    filter: invert();
}

.active:hover {
    background: #0A0A0A;
}

.hidden {
    overflow: hidden;
    height: 0;
    border: none;
}

.sub-nav.ng-enter {
    animation: 0.3s in;
}

.sub-nav.ng-leave {
    position: absolute;
    z-index: -1;
    animation: 0.3s out;
}

.sub-nav.navigation-items {
    border-top: none;
    padding-left: 8%;
}

.sub-nav-item {
    float: left;
    margin: auto;
}

.sub-nav-image {
    width: auto;
    height: auto;
    max-height: 30px;
    margin-right: 10px;
}

@keyframes in {
    from { opacity: 0;}
    to { opacity: 1;}
}

@keyframes out {
    from { opacity: 1;}
    to { opacity: 0;}
}