.navigation {
    border-color: whitesmoke transparent;
    border-width: 3px 0;
    border-style: solid none;
}

.navigation .navigation-items {
        display: flex;
        margin: 0;
        padding: 0;
        /* For IE, the outcast */
        zoom:1;
        *display: inline;
}

.navigation .navigation-item {
        margin: auto;
        padding: auto 0;
        border: 0;
        width: 32%;
        box-sizing: content-box;
        background-color: transparent;
}

.navigation-item:hover {
    background-color: whitesmoke;
}

.nav-image {
    width: 100%;
}

.hide {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.show {
    max-height: 150px;
    overflow: hidden;
    transition: 0.5s;
}
