.portfolio {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    align-content: space-around;
}

.container {
    width: 45%;
    height: 1000px;
    text-align: center;
    overflow-y: scroll;
    min-width: 200px;
}

.container-heading {
    font-size: 5vw;
}

.container-heading a {
    text-decoration: none;
    color: inherit;
    
}

.list-item {
    background-color: whitesmoke;
    margin: 5px;
    border-radius: inherit;
}

.supp {
    font-family: archer-hairline;
    font-size: 1vw;
    display: block;
}

.sub-heading {
    text-decoration: underline;
    text-align: left;
    margin: 0 0 2px 0;
    font-size: 2vw;
}

.heading {
    font-size: 2.5vw;
    margin: 0 auto;
    text-decoration: none;
    color: inherit;
    height: min-content;
}

.commit:before {
    content: '-';
    padding-left: 2px;
}

.commit {
    font-size: 2vw;
    margin-left: 2px;
    text-align: left;
}

.link {
    text-decoration: none;
    color: #000;
}

.star {
    color: goldenrod;
    font-size: 2.5vw;
    text-decoration: none;
    margin-left: 3px;
}

.star-container {
    margin: auto;
}

.description-heading {
    margin: 0;
    text-decoration: underline;
    text-align: left;
    font-size: 2.5vw;
}

.description {
    word-wrap: break-word;
    text-align: left;
    padding: 1%;
    font-size: 1.5vw;
    padding: 0;
}

#vis-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#vis {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #878d90;
    margin-bottom: 2px;
}

#vis > * {
    padding: 2px 5px;
}

#vis > * + * {
    margin-top: 5px;
}


@media (max-width: 800px) {

    .heading {
        font-size: 3vw;
    }
    .sub-heading {
        font-size: 2.5vw;
    }

    .description {
        font-size: 2vw;
    }

    .supp {
        font-size: 1.5vw;
    }
}