.area {
    padding: 0 10px;
}

.section-header {
    font-size: 24pt;
    font-weight: bold;
}

.title {
    font-weight: bold;
    font-size: 16pt;
}

.employer {
    font-style: italic;
}

.suppliment {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 12pt;
}

.suppliment li {
    display: inline-block;
    margin-right: 15px;
}

.bullets {
    padding-left: 8px;
    font-size: 14pt;
}

.point {
    padding-bottom: 4px;
    border-bottom-style: dotted;
    border-bottom-color: whitesmoke;
    border-bottom-width: 1px;
}

.point:before {
    content: "-";
    padding-right: 2px;
}